menuconfig MODULES
    bool "Module config"
    default y
    modules
	select EXECMEM
    help
      This option allows you to build parts of the kernel as modules.

if MODULES
    source "modules/test/Kconfig"
    source "modules/test2/Kconfig"
    source "modules/LoT/Kconfig"
endif
